$assetPath: '../../../assets/';

.footerDiv {
  @apply relative;
}

.footerHeight {
  @apply h-[278vw] sm:h-[208vw] md:h-[123vw] lg:h-[135vw];
}

.image {
  @apply w-full bg-cover bg-top bg-no-repeat;
}

/*#region sky*/
.sky_xs {
  @apply bg-[url('#{$assetPath}/header/sky_xs.svg')];
}

.sky_sm {
  @apply sm:bg-[url('#{$assetPath}/header/sky_sm.svg')];
}

.sky_md {
  @apply md:bg-[url('#{$assetPath}/header/sky_md.svg')];
}

.sky_lg {
  @apply lg:bg-[url('#{$assetPath}/header/sky_lg.svg')];
}

.sky_2xl {
  @apply xl:bg-[url('#{$assetPath}/header/sky_xl.svg')];
}

.sky {
  @apply footerHeight image sky_xs sky_sm sky_md sky_lg sky_2xl h-full;
  background-attachment: fixed;
}
/*#endregion*/

/*#region items*/
.items_xs {
  @apply bg-[url('#{$assetPath}/footer/items_xs.svg')];
}

.items_sm {
  @apply sm:bg-[url('#{$assetPath}/footer/items_sm.svg')];
}

.items_md {
  @apply md:bg-[url('#{$assetPath}/footer/items_md.svg')];
}

.items_lg {
  @apply lg:bg-[url('#{$assetPath}/footer/items_lg.svg')];
}

.items_xl {
  @apply xl:bg-[url('#{$assetPath}/footer/items_xl.svg')];
}

.items {
  @apply footerHeight image items_xs items_sm items_md items_lg items_xl absolute top-0;
}
/*#endregion*/

/*#region contact*/
.contact_xs {
  @apply top-[56vw];
}

.contact_sm {
  @apply sm:top-[38vw];
}

.contact_md {
  @apply md:top-[23vw];
}

.contact_lg {
  @apply lg:top-[31vw];
}

.contact_xl {
  @apply xl:top-[34vw];
}

.contact {
  @apply contact_xs contact_sm contact_md contact_lg contact_xl absolute right-0 left-0 mx-auto h-[36rem] w-[87vw] text-center;
}
/*#endregion*/

/*#region contact_title*/
.contact__title_xs {
  @apply text-[24px] leading-[38px];
}

.contact__title_sm {
  @apply sm:text-[32px] sm:leading-[51px];
}

.contact__title_md {
  @apply md:text-[40px] md:leading-[64px];
}

.contact__title_xl {
  @apply xl:text-[56px] xl:leading-[90px];
}

.contact__title {
  @apply contact__title_xs contact__title_sm contact__title_md contact__title_xl font-extrabold tracking-[0.005%] text-[#27F2FF];
}
/*#endregion*/

/*#region contact__caption*/
.contact__caption_xs {
  @apply mt-[25px] mb-[18px];
}

.contact__caption_sm {
  @apply sm:mb-[42.8px] sm:mt-[44.5px];
}

.contact__caption_md {
  @apply md:mb-[64px] md:mt-[39px];
}

.contact__caption_lg {
  @apply lg:my-[80px];
}

.contact__caption_xl {
  @apply xl:my-[102px];
}

.contact__caption {
  @apply contact__caption_xs contact__caption_sm contact__caption_md contact__caption_lg contact__caption_xl mx-auto bg-contain opacity-50;
  background-image: url('#{$assetPath}/footer/hollowText.png');
}
/*#endregion*/

.contact__mail {
  @apply m-[10px] mb-[53px] text-[16px] leading-[30px] tracking-[3px] text-white md:text-[40px];
}

.about {
  @apply absolute bottom-[45px] left-0 right-0 mx-auto h-[192px] w-[70vw] text-white md:bottom-[103.5px] md:h-[303px] md:w-[1237px];
}

.about__leftDiv {
  @apply relative h-[56px] text-center md:inline-block md:h-[303px] md:w-[390px];
}

.about__logo {
  @apply absolute left-0 top-0 w-[56px] md:relative md:mx-auto md:w-[8vw];
}

.about__slogan {
  @apply absolute bottom-0 left-0 right-0 hidden text-[20px] leading-[60px] tracking-[1px] md:block;
}

.about__rightDiv {
  @apply relative right-0 bottom-0 mt-[20px] inline-block h-[112px] w-[375px] text-[12px] md:absolute md:h-[255px] md:text-[20px];
}

.about__info {
  @apply leading-[25px] tracking-[1px];
}

.about__copyright {
  @apply absolute bottom-0 mt-[7px] leading-[30px] tracking-[-0.33px] md:mt-[60px] md:leading-[60px];
}
