$assetPath: '../../../assets/';

/*#region background*/
.background {
  @apply mt-16 mb-[100px] bg-none;
}
@media (min-width: 1240px) {
  .background {
    @apply bg-cover bg-center bg-no-repeat;
    background-image: url('#{$assetPath}/what/background-md.svg');
  }
}
@media (min-width: 1440px) {
  .background {
    background-image: url('#{$assetPath}/what/background-lg.svg');
  }
}
@media (min-width: 1920px) {
  .background {
    background-image: url('#{$assetPath}/what/background.svg');
  }
}
/*#endregion */

/*#region title*/
.title_xs {
  @apply mb-12 text-2xl;
}
.title_sm {
  @apply sm:mb-14 sm:text-[2rem];
}
.title_md {
  @apply md:mb-[50px] md:text-[2.5rem];
}
.title_lg {
  @apply lg:mb-10 lg:p-2.5 lg:text-5xl;
}
.title_xl {
  @apply xl:text-[4rem];
}
.title {
  @apply title_xs title_sm title_md title_lg title_xl
  text-center font-extrabold tracking-wider text-blue;
}
/*#endregion */

/*#region container*/
.container_xs {
  @apply w-xs grid-cols-1 gap-y-12;
}
.container_sm {
  @apply sm:w-sm sm:gap-y-[45px];
}
.container_md {
  @apply md:w-md md:grid-cols-3 md:gap-y-[35px] md:gap-x-[18px] md:pt-4;
}
.container_lg {
  @apply lg:w-lg lg:gap-x-10 lg:pt-5;
}
.container_xl {
  @apply xl:w-xl xl:gap-y-10 xl:gap-x-[106px] xl:pt-[4rem];
}
.container {
  @apply container_xs container_sm container_md container_lg container_xl
  m-auto grid;
}
/*#endregion */

/*#region card*/
.card {
  @apply h-[24rem] rounded-[1.875rem] bg-white text-center text-black shadow-card;
}
.planets {
  @apply mx-auto mb-[-65px] rounded-full;
}
.text {
  @apply grid gap-y-2 px-3 pb-12 pt-[120px] md:pt-16 lg:pt-[90px];
}
.subtitle_sm {
  @apply sm:text-xl;
}
.subtitle_md {
  @apply md:text-lg;
}
.subtitle_lg {
  @apply lg:text-xl;
}
.subtitle {
  @apply subtitle_sm subtitle_md subtitle_lg px-2.5 py-1 text-lg tracking-5;
}
.content_sm {
  @apply sm:text-sm sm:leading-8;
}
.content_md {
  @apply md:leading-7;
}
.content_lg {
  @apply lg:leading-8;
}
.content {
  @apply content_sm content_md content_lg 
  px-3 py-1 text-xs leading-8 tracking-wider text-gray;
}
/*#endregion */

/*#region planets shadow*/
.card__planet0,
.card__planet2 {
  filter: drop-shadow(0px 30px 30px rgba(206, 85, 225, 0.2));
}
.card__planet1,
.card__planet3 {
  filter: drop-shadow(0px 30px 30px rgba(85, 141, 225, 0.2));
}
.card__planet4 {
  filter: drop-shadow(0px 30px 30px rgba(85, 225, 175, 0.2));
}
.card__planet5 {
  filter: drop-shadow(0px 30px 30px rgba(225, 161, 85, 0.2));
}
/*#endregion */
