.button_xs {
  @apply px-[33px] py-[8px] text-[20px] leading-[32px];
}

.button_sm {
  @apply sm:px-[30px] sm:text-[24px] sm:leading-[38px];
}

.button_md {
  @apply md:py-[6px];
}

.button_xl {
  @apply xl:py-[9px] xl:px-[44px] xl:text-[32px] xl:leading-[51px];
}

.button {
  @apply button_xs button_sm button_md button_xl rounded-full bg-white font-bold  text-purple active:-translate-x-[10px] active:translate-y-[10px] active:shadow-none;
  box-shadow: -10px 10px 0 0 #ff00a6;
}

.corner {
  @apply button;
  position: relative;
  border-radius: 9999px 0 9999px 9999px;
}

.corner::before {
  @apply absolute top-[-50px] right-0 h-[50px] w-[30px] rounded-br-[30px] bg-transparent;
  content: '';
  box-shadow: 0 27px 0 0 white;
}
