.flowContainer {
  @apply flex items-start w-xl mx-auto relative;
}
.left {
  margin-left: -81px;
}
.right {
  @apply z-10;
  margin-left: 100px;
}
.title {
  @apply text-title font-extrabold tracking-wider text-blue text-center p-2.5 mb-[100px];
}
.body {
  @apply text-center text-434343 p-2.5;
}
.subtitle {
  @apply text-2xl tracking-5 p-2.5;
}
.content {
  @apply text-lg leading-[50px] tracking-5 p-2.5;
  width: 393px;
}
.verticalLine {
  @apply my-[16px];
  height: 64px;
  border-right: 1px solid #888888;
  transform: translate(-50%);
}
.step {
  @apply my-auto;
  font-family: Antonio;
  font-size: 350px;
  color: white;
  text-shadow: 27px 24px rgba(255, 0, 166, 0.1);
  position: absolute;
  right: -45px;
  line-height: 452.88px;
  top: 60px;
}
