.footerDiv {
  @apply relative;
}

.image {
  @apply w-full bg-cover bg-top bg-no-repeat;
}

.sky {
  @apply image min-h-[150rem];
  background-image: url('../assets/header/sky.svg');
  background-attachment: fixed;
}

.items {
  @apply image absolute top-0 min-h-[150rem];
  background-image: url('../assets/footer/items.svg');
}

.contact {
  @apply absolute top-[40.5rem] left-[33.5rem] h-[36rem] w-[53.125rem] text-center;
}

.contact__title {
  @apply m-[10px] text-[3.5rem] font-extrabold leading-[5.625rem] tracking-[0.175rem] text-[#27F2FF];
}

.contact__caption {
  @apply my-[102px] opacity-50;
  background-image: url('../assets/footer/hollowText.png');
}

.contact__mail {
  @apply m-[10px] mb-[53px] text-[40px] leading-[30px] tracking-[3px] text-white;
}

.about {
  @apply absolute left-0 right-0 bottom-[103.5px] mx-auto h-[303px] w-[1237px] text-white;
}

.about__leftDiv {
  @apply relative inline-block h-[303px] w-[390px] text-center;
}

.about__logo {
  @apply mx-auto;
}

.about__slogan {
  @apply absolute bottom-0 left-0 right-0 text-[20px] leading-[60px] tracking-[1px];
}

.about__rightDiv {
  @apply absolute right-0 bottom-0 inline-block h-[255px] w-[375px] text-[20px];
}

.about__info {
  @apply leading-[25px] tracking-[1px];
}

.about__copyright {
  @apply absolute bottom-0 mt-[60px] leading-[60px] tracking-[-0.33px];
}
