.flowContainer {
  @apply w-xxl relative mx-auto flex items-start;
  height: 600vh;
}
.planet {
  @apply sticky top-[150px] ml-[-5.0625rem];
}
.right {
  @apply ml-[8.75rem];
  height: 560vh;
}
.title {
  @apply sticky top-[150px] z-20 mb-[100px] p-2.5 text-center text-[3.5rem] font-extrabold tracking-wider text-blue;
}
.body {
  @apply relative z-10 p-2.5 text-center text-gray;
}
.subtitle {
  @apply p-2.5 text-2xl tracking-5;
}
.content {
  @apply w-[29.375rem] p-2.5 text-lg leading-[50px] tracking-5;
}
.vertical__line {
  @apply my-[16px] h-16 translate-x-[-50%] border-r border-[#888888];
}
.step {
  @apply absolute top-[3.625rem] right-[-3.4375rem]	my-auto p-2.5 font-[Antonio] text-[21.875rem] leading-[28.305rem] text-white;
  text-shadow: 27px 24px rgba(255, 0, 166, 0.1);
}
