.background {
  background-image: url('../assets/what/background.svg');
}
.title {
  @apply mb-[2.5rem] p-2.5 text-center text-title font-extrabold tracking-wider text-blue;
}
.cardContainer {
  @apply m-auto grid w-xl grid-cols-3 gap-x-cardXl gap-y-10 py-[3.75rem];
}
.card {
  @apply h-[24rem] rounded-[1.875rem] bg-white text-center text-black shadow-card;
}
.planets {
  @apply relative z-10 mx-auto mb-[-4.0625rem] rounded-full;
}
.textSection {
  @apply grid gap-y-2 px-3 pb-12 pt-[5.625rem];
}
.subtitle {
  @apply px-2.5 py-1 text-xl tracking-5;
}
.content {
  @apply px-3 py-1 text-sm leading-8 tracking-wider text-gray;
}
.planet0 {
  filter: drop-shadow(0px 30px 30px rgba(206, 85, 225, 0.2));
}
.planet1 {
  filter: drop-shadow(0px 30px 30px rgba(85, 141, 225, 0.2));
}
.planet2 {
  filter: drop-shadow(0px 30px 30px rgba(206, 85, 225, 0.2));
}
.planet3 {
  filter: drop-shadow(0px 30px 30px rgba(85, 141, 225, 0.2));
}
.planet4 {
  filter: drop-shadow(0px 30px 30px rgba(85, 225, 175, 0.2));
}
.planet5 {
  filter: drop-shadow(0px 30px 30px rgba(225, 161, 85, 0.2));
}
